<div class="mx-auto" style="width: 900px;">
<% pagename = "これからしたいこと" %>
  <h1 class="card-title"><%= pagename %></h1>

<br><br>
<table class="table table-hover">
    <thead>
      <tr class="th">
        <th>No</th>
        <th>内容</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @wants.each do |want| %>
        <% if want.user_id == current_user.id %>
          <tr class="th">
            <td><%= want[:id] %></td>
            <td><%= want.memo %></td>
            <td><%= image_tag want.image.thumb50.url %>
            <td></td>
            <td><%= link_to "編集", edit_want_path(want.id), class: "link-btn show" %></td>
            <td><%= link_to "削除", want_path(want.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class:"link-btn" %></td>
            <td></td>
          </tr>
          <tr></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to "新規作成", :new_want, class:"link-btn new" %>
  </div>




