<div class="edit">

<%= form_with model: @want, local: true do |f| %>
  <div>
    <%= f.label :memo, "これからやりたいこと(50文字以内)" %>
    <%= f.text_area :memo, placeholder: "いつまでに？", size: "30x5" %>
  </div><br>
  <div>
        <%= f.label :image do %>
          <i class="fa-regular fa-image"></i>&nbsp;イメージ画像<br>
          <%= f.file_field :image %>
        <% end %><br>
      </div><br>
      <div>
        <%= f.label :price, "予算金額 " %>
        <%= f.number_field :price %>円
      </div></br><br>

      <div>
        <%= f.submit "入力する", class:"submit-color edit-btn" %>
      </div>
    <% end %>
</div>