<div class="mx-auto" style="width: 900px;">
  <% pagename = "これからやりたいことの入力画面" %>
  <h1><%= pagename %></h1>
  <div class="d-flex align-items-center justify-content-center">
  <%= form_with model: @want, local: true do |f| %>
  
    <div>
      <%= f.label :memo,"メモ" %>
      <%= f.text_area :memo,  placeholder: "やりたいことを書こう！", size: "50x10"%>
    </div>

    <div>
      <%= f.label :image,"イメージ図" %>
      <%= f.file_field :image %>
    </div>

    <div>
      <%= f.label :price,"予算" %>
      <%= f.number_field :price %>円
    </div>

    <div><%= f.submit "入力する", class:"submit-color back" %></div>
  <% end %>
</div>