<div class="edit">
    <% pagename = "マイページ" %>
    <h1><%= pagename %></h1>
    </br>

    <%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
      <h3><label>なまえを変更できます</label></h3>
      <%= f.text_field :name, placeholder: "入力してね", class:"home" %>
      <p><%= "現在の名前：#{current_user.name}" %></p>
      <br><br>
      <h3><label>貯金もしよう</label></h3>
      <%= f.label :goal_price, "目標金額：" %>
      <%= f.number_field :goal_price %>円
      <p><%= "現在の金額：#{current_user.goal_price}" %></p>
      <br><br><br>

      <%= f.submit "保存", class:"submit-color edit-btn" %>
    <% end %>
  </div>

</div>