<div class="container mycard">
  <div class="card-body col-sm-9">


  <% pagename = "なまえの編集" %>
  <h1><%= pagename %></h1>

  <%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
    <div class="box-name">
      <h3><label>なまえを変更できます</label></h3><%= f.text_field :name, placeholder: "名前を入力", class:"home" %>
      <p><%= "現在のなまえ：#{current_user.name}" %></p>
    </div>

<br><br>

  <div>
    <%= f.submit "保存", class:"link-btn name name-btn" %>
  </div>
 <% end %>
</div>
</div>

<%= form_with model: @user, local: true do |f| %>
<ul>
  <%= f.fields_for :outcome_categories do |ocf| %>
      <% @category_names.each do |category| %>
        <li>
          <%= ocf.hidden_field :id, value: category.id %>
          <%= ocf.text_field :name, value: category.name %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.submit "Update" %>
<% end %>