<div class="wrapper">
    <div class="card-body col-sm-9">
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">
          <%= "支出" %>
        </li>
        <li class="tab">
          <%= "収入" %>
        </li>
        <li class="tab">
          <%= "年間" %>
        </li>
      </ul>
      <h4 class="card-title"></h4><br>
      <h5 class="card-text">

      <div>
        <div class="tabbox box-show">
          <%= render 'month_outcome' %>
        </div>
        <div class="tabbox">
          <%= render 'month_income' %>
        </div>
        <div class="tabbox">
          <%= render 'year' %>
        </div>
      </div>
  </div>
</div>