<div class="mx-auto" style="width: 300px;">
  <% pagename = "編集" %>
  <h1><%= pagename %></h1>

  <%= form_with model: @outcome, local: true do |f| %>
  
    <div>
      <label>金額　</label><%= f.number_field :price  %>
    </div>
    <div>
      <label>メモ　 </label><%= f.text_field :memo %>
    </div>
    <div>
      <div>
        <%= f.radio_button(:outcome_category_id, 1) %>
        <%= f.label :outcome_category_id, "食費", {value: 1, style: "display: inline-block;"} %>
      </div>
      <div>
        <%= f.radio_button(:outcome_category_id, 2) %>
        <%= f.label :outcome_category_id, "文房具", {value: 2, style: "display: inline-block;"} %>
      </div>
      <div>
        <%= f.radio_button(:outcome_category_id, 3) %>
        <%= f.label :outcome_category_id, "衣服", {value: 3, style: "display: inline-block;"} %>
      </div>
    </div>

    <div>
      <%= f.label :image,"写真" %>
      <%= f.file_field :image %>
    </div>

    <div><%= f.submit "保存する" %></div>
  <% end %>

  <div>
    <%= link_to "この収支を削除する", outcome_path(outcome.id), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "link-btn" %>
  </div>