<!DOCTYPE html>
<html>
  <head>
    <title>おうちアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta charaset="utf-8">
    <meta name="viewsport" content="width=devise-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
